<h1> Heroine Form </h1>
<% if flash[:messages] %>
<h2>Errors</h2>
<ul>
<% flash[:messages].each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>

<p><%= form_for @heroine do |f|%></p>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :super_name %></p>
<p><%= f.text_field :super_name %></p>
<p><%= f.label :power %></p>
<p><%= f.collection_select :power_id, Power.all, :id, :name %></p>
<%= f.submit%>
<% end %>