<h1>All Heroines</h1>

<%= form_with(url: "/heroines", method: "get") do %>
  <%= label_tag(:powers, "Search by SuperPowers:") %>
  <%= text_field_tag(:powers) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<p><%= button_to "Create New Heroine", new_heroine_path, method: :get %></p>
<p><%= button_to "See all Superpowers", powers_path, method: :get %></p>