<h1>Welcome All Heroines!!!!</h1>
<br>
<%= button_to "Become a Heroine", new_heroine_path, method: :get %>
<br>
<h2>All Heroines</h2>
<%= form_tag("/heroines/sort") do %>
  <%= label_tag('sort', "Sort") %>
  <%= select_tag('sort', options_for_select(@options, @default)) %>
  <%= submit_tag "Create Cat" %>
<% end %>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
