<h2>All Heroines</h2>

<!--<%= form_with(url: "/powers", method: "get") do %>
  <h4><%= label_tag(:power, "Search By Superpower:") %></h4>
  <%= text_field_tag(:power) %>
  <%= submit_tag("Search") %>
<% end %>-->

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
