<% if flash[:messages]%>
  <h2><%= flash[:messages].join(", ") + "." %></h2>
<% end%>

<%= form_for(@heroine) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :super_name, value="Superhero Name" %>
  <%= f.text_field :super_name %>
  <%= f.collection_select :power_id, Power.all, :id, :name, prompt: true %>
  <%= f.submit %>
<% end %>
<br>
<%= button_to "Back to Heroines", heroines_path, method: :get %>